<div class="row">
	<div class="col-md-6 well"> <br>
	<%if @test_repo.count == 0%>
	 <b><center>No packages available for selected version & repo</center></b>
	<%end%>
	<% @test_repo.each_key do |component| %>
		<b><center><%= component.capitalize %></center></b>
		<table class="table table-hover">
			<% @test_repo[component].each do |key, value| %>
				<tbody>
					<tr class="<%= cycle('active') -%>">
						<!--<td><%= key %></td>-->
						<td><%= value %></td>
					</tr>
				</tbody>
			<% end %>
		</table>
	<% end %>
	</div>
	<div class="col-md-6 well"> <br>
        <%if @production_repo.count == 0%>
         <b><center>No packages available for selected version & repo</center></b>
        <%end%>
	<% @production_repo.each_key do |component| %>
		<b><center><%= component.capitalize %></center></b>
		<table class="table">
			<% @production_repo[component].each do |key, value| %>
				<tbody>
					<tr class="<%= cycle( 'active') -%>">
						<!--<td><%= key %></td>-->
						<td><%= value %></td>
					</tr>
				</tbody>
			<% end %>
		</table>
	<% end %>
	</div>
</div>
