<!DOCTYPE html>
<html>
<head>
  <title>BootstrapDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<center><h1>AIC Latest Packages Viewer</h1></center>
	<br>
	<%= form_tag("/fetch", method: "post") do %>	
		<div class="row">
			<div class="col-md-3">
				<fieldset id="version">
					<label style="padding-right: 10px;">AIC Version</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[version]" id="repo_version" value="2.5"> 2.5
					</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[version]" id="repo_version" value="3.0"> 3.0
					</label>
				</fieldset>
			</div>
			<div class="col-md-9">
				<fieldset id="service">
					<label style="padding-right: 10px;">Serivice</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[service]" id="repo_service" value="aic-mos"> aic-mos
					</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[service]" id="repo_service" value="aic-orm"> aic-orm
					</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[service]" id="repo_service" value="aic-vfd"> aic-vfd
					</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[service]" id="repo_service" value="aic-ops"> aic-ops
					</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[service]" id="repo_service" value="aic-astra"> aic-astra
					</label>
					<label class="radio-inline">
		    			<input type="radio" name="repo[service]" id="repo_service" value="aic-plugins"> aic-plugins
					</label>
				</fieldset>
			</div>
		</div>
		<br>
		<div class="row">
			<center><button type="submit" class="btn btn-primary">Submit</button></center>
		</div>
	<% end %>
	<br>
	<div class="row">
		<div class="col-md-6"><h4><center>System Test Repo</center></h4></div>
		<div class="col-md-6"><h4><center>Production Repo</center></h4></div>
		<!-- rgb(153,255,204); 
		style="background-color:lavender; -->
	</div>
	<%= yield %>
</div>
</body>
</html>
